

.degree-title{


  text-align: center;


  margin:30px 0px;

  display:flex;
  align-content: center;
  justify-content: center;
}

.degree-title h1{
  border: 1px solid rgb(187, 183, 183);
  border-radius: 20px;
  width:90%;
  font-size: 1.2rem;
  font-weight: 900;
  padding:12px 12px;
}



  @media only screen and (max-width: 767px) {
.degree-title h1{
  font-size: 1rem;
}
  }
