/* Universal Styling */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}
body{
  /* font-family: 'Source Sans Pro', sans-serif; */
  line-height: 1.75em;
     font-family: 'Dosis', sans-serif;
}
a{
  text-decoration:none;
}

.container{
  text-align: center;
  margin-top:30px;


}

.row{
  display:flex;
  margin-top:20px;
  margin-bottom:20px;
  justify-content: center;

}
.images{
  background-size: cover;
  background-repeat: no-repeat;
  width:400px;
  height:250px;
  margin:5px 5px;
}
.img1{
  background-image: url(/img/secretariado.jpg);
}

.img2{
  background-image: url(./img/secretariado2.jpg);

}
.img3{
  background-image: url(./img/secretariado3.jpg);
}
.img4{
  background-image:url(./img/construccion2.jpg) ;
}
.img5{
  background-image:url(./img/construccion3.jpg)
}
.img6{
  background-image: url(./img/construccion4.jpg);
}
.img7{
  background-image: url(./img/perito1.jpg);
}
.img8{
  background-image: url(./img/perito2.jpg);
}
.img9{
  background-image: url(./img/perito3.jpg)

}
.row1{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

  @media (max-width: 500px) {

   .modal{
     display:none;
   }
   .navbarContainer{
     padding:0;
   }

   .images{
     background-size: contain;
     width:300px;

   }

  }

  .degreeHeading{
    font-size: 25px;
    font-weight:900;
    margin:100px 0px 50px 0px;
  }

  @media (max-width: 500px) {
    .degreeHeading{
      font-size: 20px;
    }
  }
