 @import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
  /* Universal Styling */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}
body,html{
  overflow-x: hidden;
}

body{
  /* font-family: 'Source Sans Pro', sans-serif; */
  line-height: 1.75em;
  font-family: 'Dosis', sans-serif;


}



/* classList items to add to the dom */
.shadowBox{
  -webkit-box-shadow: -1px 0px 50px -3px rgba(186,194,194,0.79);
  -moz-box-shadow: -1px 0px 50px -3px rgba(186,194,194,0.79);
  box-shadow: -1px 0px 50px -3px rgba(186,194,194,0.79);
  width:300px;
  height:400px;
}
.boldGray{
  background: #F2F2F2;
  border-radius:5px;
  padding:8px 9px;
}

/*  floating modal*/
.modal {
  display:flex;
  justify-content:space-between;
  align-items: center;
  position:fixed;
  width:100%;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:rgba(60, 60, 60, 0.5);
  color:#fff;
  z-index:1;
}
.modalLinks{
  display:flex;
  justify-content: space-evenly;
  width:600px;
  margin-top:25px;
  z-index:1;
  font-size:1.2rem;
  padding:5px 5px
}
.modalLinks a{
  text-decoration: none;
}
.linkSearch{
  width:7%;
}
.modal a{
  color:white;
}
.modal i{
  margin:5px 5px;}

/* dropdown menu */
.dropbtn {
  background-color: #d52349;
  color: white;
  padding:10px 13px;
  border: none;
  cursor: pointer;

  margin-top: 20px;

}
.dropdown {
  position: relative;
  display: inline-block;
  width:100%;


}
.dropdown-content {
  display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 370px;
    font-size: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 70% !important;
    right: auto !important;
    text-align: left !important;
    transform: translate(-50%, 0) !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/* main logo title of page */
.mainLogo{
  color:#2D2B3A;
  font-weight: bold;
  font-size:70px;
  margin-top: 70px;
  margin-bottom:5px;
  width:100%;
}
/* header styling */
.headerContainer{
  margin:0 auto;
  width:100%;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align:center;
  margin-top:50px;
  line-height:1.5;
}
.navbarContainer{

  display:flex;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
  font-style:italic;
  margin-top: 50px;
}
.navbarContainer li{
  width:100%;
  height:30px;
}
.navbarContainer a{
  text-decoration:none;
  width:100%;
  height:100px;
  font-size:1.5rem;
  color:gray;
}
.subtitle{
  font-size:2rem;
}
/* home section landing page styling */
.homeLandingPicture{
  margin:0 auto;
  margin-top:40px;
  background-image:url(./img/studentsComputer.jpg);
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:400px;
}

/* degree list item styling with pentagon */
.listContainer{
  display:flex;
  width:100%;
  margin:0 auto;
  align-items: center;
  justify-content: center;
  margin-top:60px;

}
.pentagon{
/* -webkit-clip-path: polygon(52% 79%, 87% 55%, 86% 0, 12% 0, 12% 57%); */
clip-path: polygon(100% 67%, 100% 0, 0 0, 0 66%, 49% 85%);
/* height: 200px;
width:180px; */
height: 40%;
width:40%;
display:flex;
align-content: center;
justify-content: center;

}
.pentagonContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  color:#2D2B3A;
  width: 400px;
  height:500px;
}
.degree{
  width:100%;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items:center;
  font-weight: 900;
  font-size:1.2rem;
  color:#252122;

}

/* action buttons start=empezar more=aprende mas */

.actionContainer{
  width:700px;
  margin:0 auto;
  display:flex;
  height:100px;
  align-content: center;
  margin-top:50px;
  justify-content: space-evenly;
}
.actionButtons{
  height:60px;

  width:250px;
  font-size: 1.3rem;
  border:none;
  border-radius: .2rem;
}
.actionButtons a{
  color:rgb(236, 229, 229);
  text-decoration: none;

}
.start{
 background-color:#d52349;
}
.more{
  background-color:#d52349;
}

/* degree pentagon background colors */
.perito{
   background-color:#000000;
}
.oficinista{
  background-color:#96959C;
}
.construccion{
  background-color:  #d52349;
}

/* font awesome icons */
.iconIndex{
  color:white;
  margin-top:30px;

}

.light{
  background:#D9385B;
}

.dark{
  background:#323232;
}

/* calendar of events footer*/
.footer{
  background:#000000;
  width:100%;
  height:800px;
  display:flex;
  justify-content: space-evenly;
}

.calendar{
  width:50%;
}
.flagBox{
  width:100%;
  height:100px;
  border-bottom: 1px solid rgba(255,255,255,.25);
  color:#fff;
  display:flex;
}
.flag{
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background:#d52349;
  width:90px;
  height:65px;
  margin:15px 15px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.day{
  font-size: 2rem;
  margin-right:10px;
}
.month{
  font-size:1.3rem;
  margin-right:10px;

}
.flagWriting{
  margin-left:50px;
  display:flex;
  flex-direction: column;
  font-size:.5rem;
  justify-content: center;


}
.event{
  margin:0;
 color:#dbd6d6;
  font-weight: 600;
  font-size:1.5rem;
}
.eventDescription{
  color:#dbd6d6;
  font-weight: 300;
  font-size:1.5rem;
  margin:0;

}
.calendarTitle{
  color:#fff;
  margin:30px 30px 30px 10px;
}

.footerImg{
  background-image: url(./img/outsideSchool.jpg);
  background-size: contain;

  background-repeat: no-repeat;
  width:100%;
  height:300px;

}

.about{
  width:50%;


}
.aboutTitle{
  color:#fff;
  margin:30px 0px;
}

.mission{

  color:#dbd6d6;
  font-weight: 300;
  font-size:1.5rem;

}

.copyright{
  margin:0 auto;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background:#000000;
  color:white;
  border-top: 1px gray solid;
  height:50px;
}
.copyright span{
  color:#d52349;
}
.eventDescription a {
  color: white;
}
.email a{
  text-decoration: none;
}

.socials{
  text-decoration: none;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  width:100%;
  font-size:1.5rem;
  background:#000000;
  padding-bottom:10px;
  height: 50px;

}
.socials a {
  text-decoration: none;
  color:#D9385B;

}
.socials p{
  text-decoration: none;
  color:#D9385B;
}
.socials i{
  padding:0 5px;
}
/* Media Queries */
/* mobile */
  @media only screen and (max-width: 767px) {
    .pentagonContainer{
      height:200px;
    }
     .pentagon{
      width: 100px;
      height:150px;
    }
    .degree h1{
      font-size:1rem;
    }
    .calendar,.actionButtons{
      display:none;
    }
   .mission{
     font-size:1rem;
   }
   .footerImg{
     height:130px;
   }
   .aboutTitle{
     text-align:center;
   }

   .modal{
     justify-content: flex-end;
     left:46%;
   }
   .mainLogo{
     margin-top:20px;
     font-size: 50px;
   }

   .email{
     display:none;
   }

   .navbarContainer a{
     font-size:1rem;
     margin: 0 5px;
   }
   .rectangle{
    width:320px;
    flex-direction: column;
    height:350px;

   }
   .envelope{
     display:none;
   }
   .rectangle span{
     font-size: 1rem;
     padding-bottom:50px;
   }

   .pentagon i{
     font-size: 4em;
   }
   .socials{
     font-size: .8rem;
   }
   .paragraph p{
     font-size:20px;
   }
   .icon img{
     width:120px;
     height:120px;
     margin-top:10px;
   }
     .mobile-toggle {
    display: block;
  }

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}
.linkSearch{
  width:9%;
}
.dropbtn{
  width:100px;
  padding: 10px 10px;
}
.dropbtn span{
  display:none;
}
.dropbtn i {
  font-size: 25px;
  margin-right: 52px;
  margin-top: 12px;
}
.aboutTitle{
  line-height: 1.2;
}
.modalLinks{
  padding-top: 10px;
}
.degree-title h1{
  font-size: 1rem;
}
.subtitle{
  font-size: 1.2rem;
}
 .listContainer{
      flex-direction: column;
    }
  }

  /* tablet */
  @media only screen and (min-width: 767px) and (max-width: 991px) {
    .pentagon {
      width:70%;
    }
    .linkSearch{
      width:10%;
    }


  }
