*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Ranchers', cursive;
  font-family: 'Raleway', sans-serif;
}

/* classList items to add to the dom */

.shadowBox{
  -webkit-box-shadow: -1px 0px 50px -3px rgba(186,194,194,0.79);
  -moz-box-shadow: -1px 0px 50px -3px rgba(186,194,194,0.79);
  box-shadow: -1px 0px 50px -3px rgba(186,194,194,0.79);
  width:300px;
  height:400px;
}
.boldGray{
  background: #F2F2F2;
  border-radius:5px;
  padding:8px 9px;
}



/* top school name logo */
.mainLogo{
  color:#2D2B3A;
  font-weight: bold;
  font-size:2.5rem;
}
/* header styling */
.headerContainer{
  margin:0 auto;
  width:1100px;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align:center;
  margin-top:50px;
}

.navbarContainer{
  margin-top:50px;
  display:flex;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;

}
.navbarContainer li{
  width:150px;
  height:30px;

}

.navbarContainer a{
  text-decoration:none;
  width:150px;
  height:100px;
  font-size:.9rem;
  color:gray;
}

/* home section landing page styling */
.homeLandingPicture{
  margin:0 auto;
  margin-top:40px;
  background-image:url(./img/studentsComputer.jpg);
  width:100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:400px;
}

/* degree list item styling with pentagon */
.listContainer{
  display:flex;
  width:1200px;
  margin:0 auto;
  justify-content: space-evenly;
  margin-top:60px;

}

.pentagon{
/* -webkit-clip-path: polygon(52% 79%, 87% 55%, 86% 0, 12% 0, 12% 57%); */
clip-path: polygon(100% 67%, 100% 0, 0 0, 0 66%, 49% 85%);
height: 200px;
width:160px;
display:flex;
align-content: center;
justify-content: center;
}

.pentagonContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  color:#2D2B3A;
  width: 400px;
  font-size: .8rem;
   width:300px;
  height:400px;
}

.degree{
  width:300px;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items:center;
}

/* action buttons start=empezar more=aprende mas */
.actionContainer{
  width:700px;
  margin:0 auto;
  display:flex;
  height:100px;
  align-content: center;
  margin-top:50px;
  justify-content: space-evenly;
}
.actionButtons{
  height:60px;
  color:rgb(236, 229, 229);
  width:270px;
  font-size: 1.3rem;
  border:none;
  border-radius: .2rem;
}

.start{
 background-color:#d52349;
}

.more{
  background-color:#000000;
}

/* degree pentagon background colors */
.perito{
   background-color:#000000;
}
.oficinista{
  background-color:#96959C;
}
.construccion{
     background-color:  #d52349;
}

/* font awesome icons */
.icon{
  color:white;
  margin-top:30px;
}

.light{
  background:#D9385B;

}

.dark{
  background:#323232;
}

/* calendar of events footer*/
.footer{
  background:#000000;
  width:100%;
  height:400px;
  display:flex;
  justify-content: space-evenly;
}
.calendar{
  width:90%;
}
.flagBox{
  width:100%;
  height:70px;
  border-bottom: 1px solid rgba(255,255,255,.25);
  color:white;
  display:flex;
}
.flag{
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background:#d52349;
  width:65px;
  height:50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.flagWriting{
  margin-left:50px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.event{
  margin:0;
}
.eventDescription{
  color:#A3A3A3;
  margin:0;
}

.calendar p{
  color:white;
  margin:20px 0;
}

.footerImg{
  background-image: url(./img/outsideSchool.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width:400px;
  height:300px;
}

.footer{
  display:flex;

}
.about{
  width:50%;
}

.about p{
  color:white;
  margin:20px 0;
}
